body {
    background-color: #999999;
    color: black;
}

a:active {
    color: white;
}

table {
    float: center;
    width: 670px;
    background-color: white;
}

.cim {
    margin: auto;
    margin: 0;
}

.sor {
    background-color: #485808;
    width: 650px;
    height: 60px;
    text-align: center;
}

h1 {
    color: white;
}